/ProjectSe7en/nbproject/private/
/ProjectSe7en/build/
/ProjectSe7en/dist/
/DatabaseConnect/nbproject/private/
/DatabaseConnect/build/
/DatabaseConnect/dist/
/Project-Se7en/build/
/Project-Se7en/dist/
/build/
/dist/
/Project-Se7en - Copy/build/
/Project-Se7en - Copy/dist/
/Project-Se7en - Copy/nbproject/private/
/MakeWineGrapeAgain/nbproject/private/
MakeWineGrapeAgain/dist/MakeWineGrapeAgain.jar
MakeWineGrapeAgain/build/built-jar.properties
